/* DEFAULT DEFAULT DEFAULT DEFAULT */
/* DEFAULT DEFAULT DEFAULT DEFAULT */

:root{
    --APP-COLOR: rgb(114, 227, 185);/*linear-gradient(-45deg, #f4ff59 0%, #c04e57 100%)*/
    --APP-GRADIENT: linear-gradient(-58deg, rgb(114, 227, 185), rgb(114, 187, 227));/*linear-gradient(-45deg, #f4ff59 0%, #c04e57 100%)*/

    --APP-ERROR-COLOR: linear-gradient(-58deg, rgb(239, 110, 110), rgb(211, 44, 44));
    --APP-FONT: 'Montserrat', sans-serif;

    --BUTTON-COLOR: rgb(1, 1, 1);

    --APP-BORDER-RADIUS: 0.3vmax;
    --APP-BORDER: 0.1vmax black solid;
}
body{
    overflow-x: hidden;
    margin: 0%;
    margin-top: 2vmax;
    margin-bottom: 5vmax;
}

/* DEFAULT DEFAULT DEFAULT DEFAULT */
/* DEFAULT DEFAULT DEFAULT DEFAULT */


/* --------------------------------------------- */


/* **STAR** **STAR** **STAR** **STAR** */
/* **STAR** **STAR** **STAR** **STAR** */

*::placeholder{
    color: rgb(200, 200, 200);
}
*:hover::placeholder{
    color: black;
}

/* **STAR** **STAR** **STAR** **STAR** */
/* **STAR** **STAR** **STAR** **STAR** */


/* --------------------------------------------- */


/* TEXT TEXT TEXT TEXT */
/* TEXT TEXT TEXT TEXT */

h1{
    font-family: var(--APP-FONT);

    font-weight: 600;
    font-size: 10vmin;

    background: var(--APP-GRADIENT);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    text-transform: uppercase;

    margin: 0%;
    padding: 0%;

    text-align: center;
}
.SmallH1{

    font-family: var(--APP-FONT);

    font-weight: 600;
    font-size: 5vmin;

    background: var(--APP-GRADIENT);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    text-transform: capitalize;

    padding: 0%;
    margin-top: 3vmax;
    margin-bottom: 1vmax;

    text-align: left;
}
h3{
    transition: border 0.2s, transform 0.2s;

    background: white;
    border: black 0.1vmax solid;

    display: block;
    outline: none;
    margin: 0vmax;
    padding: 0.3vmax 0.8vmax;

    transform: skew(-10deg);

    font-family: var(--APP-FONT);
    font-weight: 300;
    font-size: 1.5vmax;

    width: fit-content;
    margin-left: -.07vmax;
    cursor: pointer;
}h6{
    text-align: center;
    font-weight: 300;
    margin-bottom: -1vmax;
}
p{
    font-family: var(--APP-FONT);
    font-weight: 300;
    font-size: 1.5vmax;
}
a{
    color: black;
    text-decoration: none;
    padding: 1vmax 1vmax;
}.ROOM_ID_COPY{
    color: blue;
    cursor: pointer;
    text-align: center;
}
.QuestionTitle{
    font-family: var(--APP-FONT);

    font-weight: 600;
    font-size: clamp(2rem, 3vw, 15rem);

    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    text-transform: uppercase;

    margin: 0%;
    padding: 0%;

    text-align: center;
}.INLINE_LOGO{
    margin-top: 25%;
    height: 8vmin;
    margin-left: 0.5vmax;
}

/* TEXT TEXT TEXT TEXT */
/* TEXT TEXT TEXT TEXT */


/* --------------------------------------------- */


/* ALIGNEMENTS ALIGNEMENTS ALIGNEMENTS ALIGNEMENTS */
/* ALIGNEMENTS ALIGNEMENTS ALIGNEMENTS ALIGNEMENTS */

.ALIGN-CENTER{    
    width: 40%;
    margin: auto;
    display: flex;
    margin-bottom: 1vmax;
    justify-content: center;
}
.INPUT_SEPARATOR{
    margin-bottom: 1vmax;
    background: rgb(246, 246, 246);
    padding: 0.5vmax;
    border-radius: 0.5vmax;
    width: max-content;
}
.margined{
    margin-left: 4vmax;
}

/* ALIGNEMENTS ALIGNEMENTS ALIGNEMENTS ALIGNEMENTS */
/* ALIGNEMENTS ALIGNEMENTS ALIGNEMENTS ALIGNEMENTS */


/* --------------------------------------------- */


/* INPUTS INPUTS INPUTS INPUTS */
/* INPUTS INPUTS INPUTS INPUTS */

button{
    transition: all 0.05s;

    border: none;
    outline: none;
    padding: 1vmax 1.5vmax;
    margin: auto;
    font-family: var(--APP-FONT);
    font-weight: 300;
    font-size: 1.2vmax;

    border-radius: 0.3vmax;

    border: var(--APP-BORDER);

    background: white;

    z-index: 1;

}button:hover{
    border: 0.1vmax var(--APP-COLOR) solid;
    background: var(--APP-COLOR);
    color: white;
}button:active{
    box-shadow: inset 0vmax 0vmax 1vmax rgba(0, 0, 0, 0.181), 0vmax 0vmax 1vmax rgba(0, 0, 0, 0.181);
}
.ROOM_ID_INPUT{
    transition: border 0.2s, transform 0.2s;
    background: white;

    border-top: black 0.1vmax solid;
    border-bottom: black 0.1vmax solid;
    border-right: black 0.1vmax solid;
    border-left: none;

    display: block;
    outline: none;
    padding: 0.3vmax 0.8vmax;

    margin: 0vmax;
    margin-left: -0.6vmax;

    border-radius: 0.3vmax;
    padding-left: 1.2vmax;

    z-index: 0;

    font-family: var(--APP-FONT);
    font-weight: 300;
    font-size: 1.5vmax;

    width: 10vmax;
}.ROOM_ID_INPUT[IS_CREATE="true"]{
    background: white;

    border-top: black 0.1vmax solid;
    border-bottom: black 0.1vmax solid;
    border-right: black 0.1vmax solid;
    border-left: none;

    display: block;
    outline: none;
    padding: 0.3vmax 0.8vmax;

    margin: 0vmax;

    transform: skew(-10deg);

    font-family: var(--APP-FONT);
    font-weight: 300;
    font-size: 1.5vmax;

    width: 10vmax;
}
.Q_A_INPUT{
    display: inline-block;
    
    background: white;

    border-top: black 0.1vmax solid;
    border-bottom: black 0.1vmax solid;
    border-right: black 0.1vmax solid;
    border-left: none;

    outline: none;
    padding: 0.3vmax 0.8vmax;

    margin: 0vmax;

    font-family: var(--APP-FONT);
    font-weight: 300;
    font-size: 1.5vmax;

    width: 10vmax;

    margin-left: -0.6vmax;

    border-radius: 0.3vmax;
    padding-left: 1.2vmax;
}

/* INPUTS INPUTS INPUTS INPUTS */
/* INPUTS INPUTS INPUTS INPUTS */


/* --------------------------------------------- */


/* MEDIA MEDIA MEDIA MEDIA */
/* MEDIA MEDIA MEDIA MEDIA */

@media screen and (max-width: 1200px) {
    .Center {
        margin-top: 6vh;
        flex-direction: column;
        align-items: center;
    }

}

/* MEDIA MEDIA MEDIA MEDIA */
/* MEDIA MEDIA MEDIA MEDIA */

/* --------------------------------------------- */

/* KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES */
/* KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES */


@keyframes SPINNING_CUBE {
    0%{
        transform: rotate(0deg);
    }80%{
        transform: rotate(90deg);
    }100%{
        transform: rotate(90deg);

    }
}


/* KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES */
/* KEYFRAMES KEYFRAMES KEYFRAMES KEYFRAMES */

/* --------------------------------------------- */

/* CONTAINERS CONTAINERS CONTAINERS CONTAINERS */
/* CONTAINERS CONTAINERS CONTAINERS CONTAINERS */

.BUTTON_WRAPPER{
    background: rgb(244, 244, 244);
    border-radius: calc(var(--APP-BORDER-RADIUS) + 0.2vmax);
    padding: 0.5vmax;
    width: max-content;
}.BUTTON_WRAPPER button:first-of-type{
    margin-left: 0vmax;
}.BUTTON_WRAPPER button:last-of-type{
    margin-right: 0vmax;
}
.HORIZONTAL_MARGIN{
    margin-left: 0.2vmax;
    margin-right: 0.2vmax;
}
.CenterStart .ROOM_ID_INPUT:focus{
    border-bottom: black 0.7vmax solid;
}
.ButtonContainer{
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */

    display: flex;
    position: relative;
    margin: auto;

    width: 90%;
    overflow-x: scroll;

    background: white;
    box-shadow: rgba(0, 0, 0, 0.411) 0vmax 0vmax 2vmax;
    border-radius: 0.3vmax;
    padding: 0.2vmax;

}.ButtonContainer::-webkit-scrollbar {
    display: none;
}
.QUESTION_CONTAINER{
    background: var(--APP-GRADIENT);

    box-shadow: inset rgba(0, 0, 0, 0.111) 0vmax 0vmax 2vmax, rgba(0, 0, 0, 0.311) 0vmax 0vmax 2vmax;
    border: inset 1vmax black solid;

    border-radius: .5em;
    transform: translateX(12.5%);
    margin-top: 5vmax;
    width: 80vw;
    padding-top: 1vmax;
    padding-bottom: 3vmax;
}
/* CONTAINERS CONTAINERS CONTAINERS CONTAINERS */
/* CONTAINERS CONTAINERS CONTAINERS CONTAINERS */

/* --------------------------------------------- */

/* USER STUFF   USER STUFF   USER STUFF   USER STUFF   */
/* USER STUFF   USER STUFF   USER STUFF   USER STUFF   */

.USER_ACCOUNT_NAV{
    position: absolute;
    top: 0.5vmax;
    right: 0.5vmax;
    padding: 2vmax;
    border-radius: var(--APP-BORDER-RADIUS);
    border: var(--APP-BORDER);    

    background-size: 4.04vmax 4.04vmax;
    background-position: 0vmax -0.02vmax;

}.USER_ACCOUNT_NAV:hover{
    border: 0.1vmax var(--APP-COLOR) solid;
    background: var(--APP-COLOR);
    background-size: 4.04vmax 4.04vmax;
    background-position: 0vmax -0.02vmax;
}.USER_ACCOUNT_NAV:active{
    box-shadow: inset 0vmax 0vmax 1vmax rgba(0, 0, 0, 0.181), 0vmax 0vmax 1vmax rgba(0, 0, 0, 0.181);
}.TOP_USER_BAR{
    position: absolute;
    top: 0.5vmax;
    right: 5vmax;
}.TOP_USER_BAR > *{
    height: 4.15vmax;
}

/* USER STUFF   USER STUFF   USER STUFF   USER STUFF   */
/* USER STUFF   USER STUFF   USER STUFF   USER STUFF   */

/* --------------------------------------------- */

/* OTHER OTHER OTHER OTHER */
/* OTHER OTHER OTHER OTHER */

.SPINNING_CIRCLE_COUNTDOWN{
    width: 14vmin;
    height: 14vmin;

    background: rgb(246, 246, 246);
    border-radius: 1vmin;

    animation: SPINNING_CUBE 1s ease-in-out infinite forwards;
    margin: auto;

}.SPINNING_CIRCLE_COUNTDOWN:hover{
    transform: scale(2);
}.SPINNING_CIRCLE_COUNTDOWN_TEXT{
    transition: transform 0.2s;
    text-align: center;
    top: 4.5vmin;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}.SPINNING_CIRCLE_COUNTDOWN_TEXT:hover{
    transform: scale(1.2) translateX(-40%);
}

/* OTHER OTHER OTHER OTHER */
/* OTHER OTHER OTHER OTHER */

/* --------------------------------------------- */
